table, th, td {
	margin: 0 auto;
	border: 1px solid black;
	border-collapse: collapse;
}

form {
	margin: 0 auto;
    width: 400px;
    padding: 0px 1em 1em 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    text-align: center;
}

legend {
	word-spacing: 5px;
	font-family: "Lucida Console", Monaco, monospace;
}

#bookFinished p {
	margin: 0px;
}

#formContainer {
	display: none;
}

#bookInput {
	text-align: center;
}